/*common styles*/
#compare,#compare-medium { margin:0 auto 20px; overflow-y:hidden; width:1080px; box-shadow:rgba(0,0,0,0.3) 0 1px 3px; -moz-box-shadow:rgba(0,0,0,0.3) 0 1px 3px; -webkit-box-shadow:rgba(0,0,0,0.3) 0 1px 3px; background:#fff; border:1px solid; border-color:#e5e5e5 #dbdbdb #d2d2d2; border-radius:4px; -webkit-border-radius:4px; -moz-border-radius:4px; -o-border-radius:4px; -khtml-border-radius:4px;}
#compare:nth-child(1n) { border:0; }
#compare-medium {width:600px; }

#compare .sosumi {  margin:0; padding:40px 50px 40px; }
#compare .sosumi li { padding-bottom:5px; }

#compare .expand-bottom { margin-top:-1px; position:relative; z-index:2; background:#fff; border-top:1px solid #bcbcbc; }
#compare .expand-bottom .preorders { margin:0 auto; }
#compare .expand-bottom .buynows { margin:0 auto; }
#compare .expand-bottom .buys { margin:0 auto; width:62px; height:25px; display:block; overflow:hidden; text-decoration:none; text-indent:-9999px; background-repeat:no-repeat; background-position:0 0; }
#compare .expand-bottom .buys:hover { background-position:0 -25px; }
#compare .expand-bottom .buys:active { background-position:0 -50px; }

.comparison-table { width:100%; font-size:11px;font-weight:normal; }
.comparison-table sup { vertical-align:top; }

.comparison-table .first-row img { position:relative; z-index:1; display:block; margin:0 -10px 0 0; }
.comparison-table .first-row p { color:#333; }

.comparison-table .shuffle,
.comparison-table .nano,
.comparison-table .classic,
.comparison-table .touch-fourth-gen,
.comparison-table .touch { width:118px !important; }

.comparison-table th,
.comparison-table td { padding:6px 21px 4px !important; border-bottom:1px solid #bfbfbf; vertical-align:top; font-weight:normal; }
.comparison-table td { border-left:1px solid #bfbfbf; }
 
.comparison-table th h3 { font-size:1.167em; line-height:1.3em; font-weight:normal; }

.comparison-table .specs-head th { border-left:1px solid #bfbfbf; background:#fafafa;
	background-image:-webkit-gradient(linear, 0 0, 0 100%, from(rgba(255,255,255,0)), to(#f2f2f2));
	background-image:-moz-linear-gradient(center top, rgba(255,255,255,0) 0%, #f2f2f2 100%);
	background-image:-o-linear-gradient(rgba(255,255,255,0), #f2f2f2);
}
.comparison-table .specs-head th h2 { margin:0; }
.comparison-table .specs-head th img { display:block; margin:0 auto; }
.comparison-table .specs-head .first-col { border-left:none; min-width:120px; }

.comparison-table .specs-head .shuffle { border-left:none; }
.comparison-table .specs-head .shuffle a { position:relative; z-index:1; }
.comparison-table .specs-head .shuffle span.border { position:absolute; left:-21px; top:-33px; display:block; height:120px; width:1px; border-left:1px solid #bfbfbf; }

.comparison-table .specs-body .shuffle { border-left:none; background:url(../img/cell_inset_gradient.jpeg) repeat-y 0 0; }

.comparison-table .specs-body .first-row .shuffle { background:url(../img/cell_inset_gradient_top.jpeg) no-repeat 0 0; }
.comparison-table .specs-body .last-row .shuffle { background:url(../img/cell_inset_gradient_bottom.jpeg) no-repeat 0 100%; }

.comparison-table .specs-body .battery h4 { font-size:13px; }

.comparison-table .specs-body .color p.exclusive { margin:2px 0 6px; color:#363636; line-height:1.25em; }
.comparison-table .specs-body .color img { display:block; position:relative; z-index:1; margin-right:-40px; }

.comparison-table .specs-body .price p { float:left; }
.comparison-table .specs-body .price p.padtop { padding-top:15px; }
.comparison-table .specs-body .price span.dollar { font-size:13px; font-weight:bold; margin-left:4px; }
.comparison-table .specs-body .price img.prodred { vertical-align:middle; }
.comparison-table .specs-body .price h4 { margin-bottom:20px; font-size:20px; line-height:1; font-weight:bold; letter-spacing:-1px; }

.comparison-table .specs-body .buy-buttons td { padding:30px 25px; text-align:center; }
.comparison-table .color .product-red-color { margin-top:15px; }


