
@charset "utf-8";

/* -------------------- New fonts ----------------------------- */

@font-face {
  font-family: 'Dancing Script';
  font-style: normal;
  font-weight: bold;
  src: local('Dancing Script Bold'), local('DancingScript-Bold'), url('../font/KGBfwabt0ZRLA5W1ywjowQcy1_X8izNRf-j_WdFlHLs.woff') format ('woff');
}
@font-face {
  font-family: 'Dancing Script';
  font-style: normal;
  font-weight: normal;
  src: local('Dancing Script'), local('DancingScript'), url('../font/DK0eTGXiZjN6yA8zAEyM2cKbQLsA1R_lLnELzgJ1NTs.woff') format('woff');
}

@font-face {
  font-family: 'Cabin';
  font-style: normal;
  font-weight: 400;
  src: local('Cabin Regular'), local('Cabin-Regular'), url('../font/JEgmtEDzc-IH8jBshQXrYA.woff') format('woff');
}


html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
em, img, strong, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td { color: #636468; margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; }



/* -----------------------------------------------------------
	New Background
----------------------------------------------------------- */
* html .centered { position:absolute }

img {border:0;}

#contents-wrap {
	width:1180px;
	margin:5px auto;
	text-align: left;
}
body {
   	text-align:left;
 	font-family: tahoma,"Lucida Grande",Arial,Helvetica,sans-serif; 
  	/* font-family: 微軟正黑, Microsoft JhengHei, Helvetica, Tahoma, 新明細體, PMingLiU, SimSun, sans-serif;*/
   	color: #000;
	font-size:12px;
	line-height:1.230;
	margin:0px 0px; padding:0px;
    min-width:1180px;
    background-color:rgb(241,241,241);
}
.mastertable
{
	width:1180px;
	padding:15px;
	height:700px;
    margin-top:-10px;
    border: 2px solid rgb(233,233,233); 
	background-color: white;
	margin-bottom: 30px;
}
.headermenu
{
	
	position:relative;
	width:auto;
	height:100px;
	top:0px;
	background-repeat:no-repeat;
	margin:0px auto;
        background-color:rgb(42,41,37);
	
}

.font0{
	font-size:0.7em; 
	font-weight:bold;
	color:  rgb(76,57,38);
}
.font0b{
	font-size:0.6em; 
	font-weight:normal;
	color: rgb(0,102,187);	
}
.font1{
	font-size:0.72em; 
	font-weight:normal;
	color:rgb(76,57,38);
}
.font1white{
	font-size:0.72em; 
	font-weight:normal;
	color:white;
}
.font1green{
	font-size:0.72em; 
	font-weight:normal;
	color: rgb(111,177,51);
}
.font1b{
	font-size:0.75em; 
	font-weight:normal;
	color: rgb(0,102,187);	
}
.font1_5{
	font-size:0.90em;
	font-weight:normal;
	color:rgb(76,57,38);
}
.font1_5_B{
	font-size:0.90em; 
	font-weight:normal;
	color:#000;
}
.font2{
	font-size:0.8em; 
	font-weight:bold;
	color: #000;
}
.font2N{
	font-size:1.05em; 
	font-weight:normal;
	color:rgb(76,57,38);
}
.font2b{
	font-size:0.85em; 
	font-weight:normal;
	color: rgb(0,102,187);	
}
.font3{
	font-size:0.9em; 
	font-weight:bold;
	color: #000;
}
.font3orange{
	font-size:0.9em; 
	font-weight:bold;
	color: rgb(191,100,47);
}
.font3g{
	font-family: 'Cabin';
	font-size:12px;
	line-height:1.230;
	font-weight:bold;
	color: rgb(250,216,122);
}
.font3green{
	font-size:0.9em; 
	font-weight:bold;
	color: rgb(111,177,51);
}
.font3b{
	font-size:1.05em; 
	font-weight:normal;
	color: rgb(0,102,187);	
}
.font4{
	font-weight : bolder;
	padding: 3px;
	margin: .3em 0;
    font-size : 13px;
}
.font4n{
	font-size:1.15em; 
	font-weight:normal;
	color: #000;
	padding-left:3px;
	line-height:1.230;
	padding-right:10px;
}
.font4s{
	font-weight : bolder;
	padding: 3px;
	margin: .3em 0;
    font-size : 1.2em; 
	color: rgb(125,117,108);
}
.font4b{
	font-weight : bolder;
	margin-bottom: .3em;
    font-size : 1.2em; 
	color: #85a282;	
}
.font4analytics{
	font-weight : bolder;
	padding: 3px;
	margin: .3em 0;
        font-size : 1.2em; 
	color: rgb(125,117,108);
}
.font5{
	font-weight : bolder;
	padding: 3px;
	margin: .3em 0;
    font-size : 16px;
}
.font6{
	font-weight : normal;
	padding: 3px;
	margin: .3em 0;
    font-size : 24px;
}
.fontSchoolNameChi{
	font-weight : bolder;
	padding: 0px;
	margin: .0em 0;
    font-size : 2.6em;
	font-family: tahoma,"Lucida Grande",Arial,Helvetica,sans-serif;
}
.fontSchoolNameEng{
	padding: 10px 0px 10px 0px;
	margin: .0em 0;
    font-size : 1.8em;
	font-family: tahoma,"Lucida Grande",Arial,Helvetica,sans-serif;
	
}
h1{ font-size: 18px;font-weight : bolder;color:black;}
h2{ font-size: 15px;font-weight : bolder;color:black;}
a {
    font-family: 'Cabin';
    background-repeat:no-repeat;
    background-position:right;
    padding-right: 0px;
    text-decoration: none;
    color: #77BB44;
}
a:hover
{
    color: #2b9646;
    text-decoration: none;
}
/* get rid of those system borders being generated for A tags */
a:active {
    outline:none;
}

:focus {
    -moz-outline-style:none;
}

a.reference
{
    float:right;
    font-size:9px;
    text-decoration: none;
    color: red;
    margin-top: 5px;
}
a.reference:hover
{
    color:#e15d14;
}
a.comment
{
    font-size:11px;
    text-decoration: none;
    color: #000;
}
a.comment:hover
{
    color:#e15d14;
    cursor: pointer; cursor: hand;
}
a.afont2b
{
    text-decoration: none;
	font-size:0.85em; 
	font-weight:normal;
	color: #85a282;	
}
a.afont2b:hover
{
    color:#e15d14;
    cursor: pointer; cursor: hand;
}
a.white
{
    font-size:12px;
    text-decoration: none;
    font-weight: bold;
    color: white;
}
a.white:hover
{
    color:#e15d14;
    cursor: pointer; cursor: hand;
}
a.commentschoolcompare
{
    font-size:12px;
    text-decoration: underline;
    font-weight: bold;
    color: black;
}
a.commentschoolcompare:hover
{
    color:#e15d14;
    cursor: pointer; cursor: hand;
}
a.commentschoolcompareqa
{
    font-size:12px;
    text-decoration: underline;
    font-weight: bold;
    color:  #000;
}
a.commentschoolcompareqa:hover
{
    color:#e15d14;
    cursor: pointer; cursor: hand;
}
a.blocklink
{
    display: block;
    font-size:9px;
    text-decoration: none;
    color: #000;
}
a.blocklink:hover
{
    color:#e15d14;
}


.rating {
    font-size: 90px; 
    font-style: normal;
    font-weight: bold;
    color: rgb(178,201,132);
    margin: 0;
    padding: 0;
}
.rating1text {font-size:1.1em; position:relative;top:-10px;color: rgb(102,153,47);font-weight: bold;padding-bottom:5px;};

/* -----------------------------------------------------------
	School Details Title
----------------------------------------------------------- */
.players-subheader {
	width      : 678px;
	height     : 18px;
	text-align : left;
	margin     : 0 auto 5px auto;
	background-image  : url(../img/subHeader.png);
}
.players-subheader div {
		font-size : 10px;
		color     : #605b4d;
		margin    : 0 24px 0 24px;
	}

/* --- SCHOOL NAME ----- */
.news-info-title, .msg-title, .msg-details, .qa-subject , .qa-subject-green {
    font-family: 'Dancing Script';
	font-size : 15px;
	font-weight : bolder;
	margin      : 0 10px 10px 40px;
}
.msg-title{
	margin : 5px;
}
.msg-details, .qa-subject, .qa-subject-green{
	font-family: tahoma,"Lucida Grande",Arial,Helvetica,sans-serif; 
	margin : 5px;
	position:relative;
	top:3px;
	left:2px;
	font-size:0.80em; 
	font-style: normal;
	font-weight: normal;
}
.qa-subject, .qa-subject-green{
	font-size:1.01em; 
	font-weight:normal;
	color:rgb(76,57,38);
}
.qa-subject-green{
	color: rgb(111,177,51);
}
.answer{
	margin : 5px;
}
.news-info-title div {
	padding : 0 0 0 24px;
}


/* Button (background image) 
 --------------------------------------------------------------------------- */
a.button {
	display : block;
	font-size : 1px;
	background-position : 0 0;
	position: relative;
    cursor: pointer;
}
a.button:hover {
	background-position : 0 bottom;
}

.closeschool{
	width: 13px;
	height: 13px;
}
.closeschool {background-image:url(../img/close.png);}

.advanceSearch{
        width: 24px;
        height: 24px;
	background-image:url(../img/search.png);
}
.forum{
        width: 25px;
        height: 25px;
        background-image:url(../img/forum.png);
}
.calendar{
        top: -2px;
        width: 25px;
        height: 25px;
        background-image:url(../img/calendarKid.png);
}
.arrow{
        font-family: 'Dancing Script';
}
.arrowasc{
        font-family: 'Dancing Script';
        top: -2px;
		width: 12px;
        height: 7px;
        background-image:url(../img/sortarrow-asc.png);
}
.arrowdesc{
        font-family: 'Dancing Script';
        top: -2px;
		width: 12px;
        height: 7px;
        background-image:url(../img/sortarrow-desc.png);
}

span#logo,span#logorelative
{
   
   font-family: 'Cabin';
   list-style-type:none;
   position: absolute; 
   top: 7px; left: 8px;
   color       : rgb(168,149,101);
   font-weight : bold;
   font-size: 13px; 
   font-style: normal;
   text-align:left;
}
span#logorelative
{
   position: relative;
    font-size: 15px; 
}  
span#logosmall,span#logotiny
{
   
   vertical-align: middle;
   font-family: 'Dancing Script';
   list-style-type:none;
   color       : rgb(168,149,101);
   font-weight : bold;
   font-size: 12px; 
   font-style: normal;
   text-align:center;
}
span#logotiny
{
   font-size: 9px; 
color       : #C6BFB4;
  }
div.vs {
	width: 25px;
        height: 25px;
	position:relative;
	float:right;
	background-repeat:no-repeat;	
	background-image:url(../img/treasure.png);
}
div#forum
{
    left: 400px;
    top: 7px;
    position: absolute;
}
div#calendarIcon
{
    left: 800px;
    top: 7px;
    position: absolute;
}
div#advanceSearch
{
    left: 720px;
    top: 7px;
    position: absolute;
}
div#login
{
   list-style-type:none;
   position: absolute; 
   top: 7px; right: 150px;
   color: #000;
 }
div#dialogCommentBtn
{
   	list-style-type:none;
	float:right;
}

#toolbar {
  height: 37px;
  padding: 5px 0 0 8px;
  margin-bottom: -4px;
}
.commentIcon {
  background-image: url(../img/comment.png);
  background-repeat: no-repeat;
  width: 18px;
  height: 18px;
  text-align: center;
}
.reminderIcon {
  background-image: url(../img/reminder.png);
  background-repeat: no-repeat;
  width: 18px;
  height: 18px;
  text-align: center;
}
.compareIcon {
  background-image: url(../img/compare.png);
  background-repeat: no-repeat;
  width: 18px;
  height: 18px;
  text-align: center;
}
.likeIcon {
  background-image: url(../img/thumbup.png);
  background-repeat: no-repeat;
  width: 18px;
  height: 18px;
  text-align: center;
}
.dislikeIcon {
  background-image: url(../img/thumbdown.png);
  background-repeat: no-repeat;
  width: 18px;
  height: 18px;
  text-align: center;
}
div#gigaStar
{
    float: right; 
	text-align: right;  
    position: relative; 
	background-image: url(../img/giga-star.png); 
	width: 66px; 
	height: 59px;
}
.thumbnail, .thumbnailnohand
{
float: left;
width: 110px;
margin: 0 11px 11px 0;
padding: 5px;
}

.clearboth { clear: both; }

.thumbnail:hover {
	cursor: pointer; cursor: hand;
}

.thumbnailnohand:hover {
	cursor: default;
}

/*****************************************************************/
/******************** START SCHOOL DETAILS ************************/
/*****************************************************************/

.schooldetailscontainer {
       position:relative;
       padding:5px;
   }

 .schooldetailscontent {
       position:relative;
       z-index:5;
}

.rowheadbg { background-color: #64A02C; color:white;  vertical-align: text-top; }
.rowbg0 { background-color: #f2f6eb;  vertical-align: text-top; }
.rowbg1 { background-color: white;  vertical-align: text-top; }


.row0,.row1,.row2,.row3,.row4,.row5,.row6,.row7 { background-color: #C6BFB4;  vertical-align: text-top; } /*LIGHT BROWN*/
.row10,.row20,.row30,.row40,.row50,.row60,.row70  { background-color: white;  vertical-align: text-top; color: rgb(76,57,38);  } /*MEDIUM BROWN*/
.row11,.row21,.row31,.row41,.row51,.row61,.row71  { background-color: white;  vertical-align: text-top; color: rgb(76,57,38);  } /*LIGHT BROWN*/
.rowtag, .rowtagtiny { background-color: rgb(116,144,188);  vertical-align: text-top; color: white; padding:4px;}
.rowtagtiny { padding:1px;}
.rowqa { background-color: #C6BFB4;   vertical-align: text-top; padding:8px;}
.rowbrown { background-color: rgb(59,41,19);  vertical-align: text-top; padding:5px; color:white; font-size: 10px; text-align:center;border:1px solid rgb(76,57,38);}
.rowlightbrown { background-color: #C6BFB4;  vertical-align: text-top; padding:5px; color: #000; font-size: 10px; text-align:center; border:1px solid rgb(76,57,38);}
.rowlightestbrown { background-color: rgb(235,233,216);  text-align:center}
.rowtag:hover, .rowbrown:hover,.rowlightbrown:hover,.rowtagtiny:hover {
	color: black;
	background: rgb(255,196,53);
	text-align:center;
	cursor: pointer; cursor: hand;
}

.viewedschool{
	padding-left: 13px;
}
.row-green { background-color: rgb(100,160,44);  vertical-align: text-top; color:white } /*LIGHT BROWN*/
.row-grey { background-color: rgb(233,233,233);  vertical-align: text-top; color:white } /*LIGHT BROWN*/

.entitycategory,.entitycategorycompare {
	/*font-family: 'Dancing Script';*/
	font-weight : bolder;
	background-color: #EFEFEF; 
	/*background-color: rgb(100,160,44); */
	padding: 3px;
	margin: .3em 0;
    font-size : 12px;
    
}
.entitycategorycompare {
	color: rgb(62,62,62);
	font-size: 13px;
 }
.entitybasicfield,.entitybasicfieldlesspadding {
 	color: #000;
 	font-size: 11px;
	font-weight: normal;
	padding: 3px 10px 3px 18px;
}
.entitybasicfieldlesspadding {
 	padding: 2px;
}
.entitycategoryfield {
 	color: #000;
 	font-size: 12px;
	font-weight: normal;
	padding: 3px 13px 3px 18px;
}
img.bottom {vertical-align:text-bottom;}

.top10kindergarten, .top10primaryschool, .top10secondaryschool, .top10extra { background-color: rgb(230,224,209);  vertical-align: text-top; }
.top10kindergartenOuter, .top10primaryschoolOuter, .top10secondaryschoolOuter, .top10extraOuter {padding: 1px 1px 1px 1px; background-color: rgb(120,115,48);}
.top10Title {	font-size: 10px;	font-weight: bold; padding: 0 0 3px 8px;text-align:left; }
.top10List {	font-size: 9px;	font-weight: normal; padding: 0 0 3px 8px;text-align:left;  }

/* Tooltips Style */
/* trigger button */
#grading {
	background:transparent url(../img/gcprize.png) no-repeat scroll 0 0;
	text-indent:2em;
	height:16px;
	overflow:hidden;
	width:80px;
	cursor:pointer;
    padding-left: 18px;
}


/* mouseover state */
#grading:hover {
		
}

/* clicked state */
#grading:focus {
	background-position:0 -88px;
}

/* tooltip styling */
.tooltip {
	display:none;
	background:white;
	padding:40px 30px 10px 30px;
	font-size:11px;
	color:#000;	
	width:600px;
	height: 500px;
 	z-index:2;
 	border:5px solid rgb(88,148,66);

}
.tooltiptripadvisorgreen {
	display:none;
	background:white;
	padding:40px 30px 10px 30px;
	font-size:11px;
	color:#000;	
	width:299px;
	height: 299px;
 	z-index:2;
	border:2px solid rgb(88,148,66);
}
.tooltipsmall {
	display:none;
	background:rgb(88,148,66);
	padding:30px 30px 10px 30px;
	font-size:11px;
	color:white;	
	width:300px;
	height: 180px;
 	z-index:2;
	/* CSS3 styling for latest browsers */
    -moz-box-shadow:0 0 15px 1px #000;
    -webkit-box-shadow: 0 0 15px #000;
}
.tooltiptripadvisorwhite {
	display:none;
	background: white;
	padding:40px 30px 10px 30px;
	font-size:11px;
	color:#000;	
	width:200px;
	height: 180px;
 	z-index:2;
	border:1px solid rgb(88,148,66);

}
.menutooltip {
	display:none;
	background:url(../img/black_arrow_bottom.png);
	padding:20px 3px 3px 3px;
	font-size:9px;
	color:#000;	
	width:100px;
	height: 50px;
        background-size: 100% 100%;
        z-index:2;
}
 .imagelesstooltip {
  display:none;
  width:300px;
  background-color:white;
  padding:1px 20px 1px 10px;
  font-size:11px;
  border:10px solid #a4d47a;
  }

/* Tooltips Style */
div#spiderchartcontaier{
 position:relative;
	top: 10px;
       left:-50px;
       width:290px;
       height:310px;
       border-style:none;
       z-index:1;
       /* These three lines are for transparency in all browsers. */
       -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
       filter: alpha(opacity=90);
       opacity:.9;
 
}
div#spiderchart {
       position:absolute;
 	/* Top,right,bottom, Left*/
       clip:rect(1px, 340px, 270px, 60px);
   }
.news{
 	position:relative;
	top: 10px;
    width:230px;
    border-style:none;

}
/* Spring Style Comment Green Color */
.systemComment { font-family: 'Cabin'; font-size:16px; background-color: #EFEFEF;  margin:15px; padding: 40px; vertical-align: text-top; color: black;line-height:160%; }
.userComment { font-family: 'Cabin'; background-color: rgb(245,245,240);  padding: 10px 10px 10px 10px; vertical-align: text-top; color: rgb(76,57,38); }
.reversesearchcomment { font-family: 'Cabin'; background-color: rgb(238,120,24);  margin:15px; padding: 20px; vertical-align: text-top; color: white; } /*orange*/
.reversesearchmain { font-family: 'Cabin'; background-color: rgb(248,248,236);  margin:15px; padding: 20px; vertical-align: text-top; color: white; }	/*grey*/

.myfavoritescontent { font-family: 'Cabin'; background-color: rgb(5,141,199);  margin:15px; padding: 20px; vertical-align: text-top; color: white; } /*orange*/
.myfavoritesmain { font-family: 'Cabin'; background-color: rgb(248,248,236);  margin:15px; padding: 20px; vertical-align: text-top; color: white; }	/*grey*/


.schooldetailsnext, .schooldetailsprev {
	position:absolute;
	top:90px;
	left:-22px;
}
.qamoreinfo{padding:10px;}
.schooldetailsnext {
	left:630px;
}
.schooldetailsnavtype{
	position:absolute;
	top:90px;
	left:550px;
	width:240;
	font-size:10px;
}

/*****************************************************************/
/******************** END SCHOOL DETAILS ************************/
/*****************************************************************/


#statusbox { 
       position: absolute; 
       top: 0; left: 0; 
       z-index: 10; 
       background:WHITE;
       padding:5px;
       border:1px solid #CCCCCC;
       text-align:center; 
       font-weight:bold; 
       width:99%;
       display:none
}
#appsbox {
       position: absolute;
       top: 0; left: 0;
       z-index: 2000;
       background:#E2E2E2;
       padding:5px;
       border:1px solid #CCCCCC;
       text-align:center;
       font-weight:bold;
       width:1160px;
       height:80px;
       display:none
}
#calendar {
	padding: 0;
	margin: 0;
	border-left: 1px solid #A2ADBC;
	font: normal 12px/20px ;
	color: #616B76;
	text-align: center;
	background-color: #fff;
    	overflow: auto;
	vertical-align: top;
	height:600px;
}
.calendarCaption {
	margin: 0;
	padding: 0;
	width: 141px;
	height: 20px;
	background: #A2ADBC;
	color: #fff;	 
	font: bold 12px ;
	text-align: center;
}

.nav, .nav a {
	font: bold 18px ;
	color: #fff;	
	text-align: center;
	text-decoration: none;
 	padding-right: 0px;
}	

th.calendar {
	font: bold 11px/20px ;
	color: white;
	background: rgb(93,82,65);
	border-right: 1px solid #A2ADBC;
	border-bottom: 1px solid #A2ADBC;
	border-top: 1px solid #A2ADBC;
	width: 40px;
	text-align: center;
}
/*
.today, td.today a, td.today a:link, td.today a:visited {
	color: #F6F4DA;
	font-weight: bold;
	background: #DF9496;
}
*/
td.calendar {
	border-right: 1px solid #A2ADBC;
	border-bottom: 1px solid #A2ADBC;
	height: 30px;
	text-align: center;
	background: rgb(245,245,240);
}
td.week {
	border-right: 1px solid #A2ADBC;
	border-bottom: 1px solid #A2ADBC;
	color: #608194;
	font-weight: bold;
	background: rgb(198,191,180);
}

td.calendar a {
	text-decoration: none;
	font-weight: bold;
	display: block;
}

td.calendar a:link, td.calendar a:visited {	
	color: #608194;
	background: rgb(243,245,233);
}

td.calendar a:hover, td.calendar a:active {
	color: #6aa3ae;
	background: rgb(243,245,233);
}


/* 1 solid line */
/* 2 dash line */
/* 310%  line */
.line-type1, .line-type2 {
	font-size : 1px;
	height    : 18px;
	background-position : 0 center;
	background-repeat   : repeat-x;
}
.line-type1, .line-type1-flat {
	background-image    : url(../img/type1.png);
}
.line-type2, .line-type2-flat {
	background-image    : url(../img/type2.png);
}
.line-type3 {
	font-size : 1px;
	height    : 7px;
	background-image : url(../img/type3.png);
}

.line-type1-flat, .line-type2-flat {
	font-size : 1px;
	height    : 2px;
	background-repeat : repeat-x;
}


.gc-news-detail {
		text-align: center;
		width: 678px;
		color: #333;
		font-size: 12px;
		line-height: 150%;
		margin: auto;
		border: 1px solid transparent;
	}
	
	.gc-news-detail-inner {
		margin: auto;
		width: 626px;
	}
	.gc-news-detail-body {
	}

.gc-news-lead {}
	.gc-news-lead-header {
		height: 23px;
		background-image: url(../img/leadheader.png);
	}
	.gc-news-lead-body {
		padding: 10px 0 10px 0;
		background-image: url(../img/leadbody.png);
		background-repeat: repeat-y;
		background-position: 2px 0;
	}
	.gc-news-lead-footer {
		height: 23px;
		background-image: url(../img/leadfooter.png);
	}
	

/* News Post Frame */
.pbox1 {
		
	background-color  : #EBEAD8;
	background-image  : url(../img/newsml.jpg);
	background-repeat : repeat-y;
}
	.pbox1Inner {
		background-image    : url(../img/newsmr.jpg);
		background-repeat   : repeat-y;
		background-position : right;
	}
	.pbox1TL, .pbox1TR, .pbox1BL, .pbox1BR {
		width     : 40px;
		height    : 18px;
		font-size : 1px;
		background-repeat : no-repeat;
	}
	.pbox1TL {
		background-image : url(../img/newstl.jpg);
		float : left;
	}
	.pbox1TR {
		background-image : url(../img/newstr.jpg);
		float : right;
	}
	.pbox1BL {
		background-image : url(../img/newsbl.jpg);
		float : left;
	}
	.pbox1BR {
		background-image : url(../img/newsbr.jpg);
		float : right;
	}
	.pbox1Header, .pbox1Footer {
		height    : 18px;
		font-size : 1px;
		background-repeat : repeat-x;
	}
	.pbox1Header { background-image : url(../img/newstc.jpg); }
	.pbox1Footer { background-image : url(../img/newsbc.jpg); }
	.pbox1Body {
		margin : 0 18px 0 18px;
	}
/* End of News Post Frame */

/* School List console Frame */
.pbox2 {
	background-color  : #EBEAD8;
	background-image  : url(../img/ml.png);
	background-repeat : repeat-y;
}
	.pbox2Inner {
		background-image    : url(../img/mr.png);
		background-repeat   : repeat-y;
		background-position : right;
	}
	.pbox2TL, .pbox2TR, .pbox2BL, .pbox2BR {
		width     : 18px;
		height    : 18px;
		font-size : 1px;
		background-repeat : no-repeat;
	}
	.pbox2TL {
		background-image : url(../img/tl.png);
		float : left;
	}
	.pbox2TR {
		background-image : url(../img/tr.png);
		float : right;
	}
	.pbox2BL {
		background-image : url(../img/bl.png);
		float : left;
	}
	.pbox2BR {
		background-image : url(../img/br.png);
		float : right;
	}
	.pbox2Header, .pbox2Footer {
		height    : 18px;
		font-size : 1px;
		background-repeat : repeat-x;
	}
	.pbox2Header { background-image : url(../img/tc.png); }
	.pbox2Footer { background-image : url(../img/bc.png); }
	.pbox2Body {
		background-image : url(../img/mc.png);
		margin : 0 18px 0 18px;
		color  : #4C3926;
	}
	.pbox2Body table {color  : #4C3926}
/* End of School List console Frame */


/* Top 10 Frame */
.teaserBox1 {
}
	.teaserBox1 .tl, .teaserBox1 .tr, .teaserBox1 .bl, .teaserBox1 .br {
		width: 41px;
		height: 41px;
	}
	.teaserBox1 .tc, .teaserBox1 .bc {
		height: 41px;
	}
	.teaserBox1 .ml, .teaserBox1 .mr {
		width: 41px;
	}
	.teaserBox1 .tl {background-image: url(../img/hometl.png)}
	.teaserBox1 .tr {background-image: url(../img/hometr.png)}
	.teaserBox1 .tc {background-image: url(../img/hometc.png)}
	.teaserBox1 .bl {background-image: url(../img/homebl.png)}
	.teaserBox1 .br {background-image: url(../img/homebr.png)}
	.teaserBox1 .bc {background-image: url(../img/homebc.png)}
	.teaserBox1 .ml {background-image: url(../img/homeml.png)}
	.teaserBox1 .mr {background-image: url(../img/homemr.png)}
	.teaserBox1 .mc {background-color: #F3F5E9}

.teaserTable1 {
	width: 100%;
	border-spacing: 1px;
	border: 1px solid #A5A294;
	background-color: #DEDBD5;
}
	.teaserTable1TD1, .teaserTable1TD2 {
		padding: 3px 3px 3px 5px;
	}
	.teaserTable1TD1 {
		background-color: #F5F5F0;
	}
	.teaserTable1TD2 {
		background-color: #C6BFB4;
	}


.teaserContentInner {
		width: 680px;
		margin: auto;
	}
/* End ofTop 10 Frame */	
	

.input-text input,.input-password input {
background: white url("school/img/input-bg.gif") repeat-x;
font: 14px "Lucida Sans Unicode", "Lucida Grande", "Arial", sans-serif;
color: #5A5A5A;
padding: 0 7px;
height: 32px;
border: 1px solid silver;
width: 250px;
margin: 0;
display: block;
}
select{
		background-color : #E9E9E9;
		color            : #4B4632;
}

			#scrolljquery {
				width: 400px;
				position: absolute;
				top: 20px;
				left: 60px;
				height: 300px;
				overflow: auto;
				
				/*background-color: white;
				color: #666;*/
				
				background-color: #222222;
				color: #AAA;
			}

img.imagedropshadow {
	vertical-align: middle ;
	padding: 3px;
	border: solid 1px #EFEFEF;
	border: solid 1px #CCC;
	-moz-box-shadow: 1px 1px 5px #999;
	-webkit-box-shadow: 1px 1px 5px #999;
    box-shadow: 1px 1px 5px #999;
}

.textbutton {
	background:none;
	border:0;
	color: #64A02C;
	font-size: 11px;
	font-weight: normal;
	padding: 5px 1px 3px 1px;

}
.textbutton:hover {
cursor: pointer;
color:#e15d14;
text-decoration: underline;
}

/* Tripadvisor button */
.button_grn {display:inline;height:100%;overflow:hidden;margin-right:10px;margin-bottom:10px;border:1px solid #478022;background-color:#a4d47a;float:right;}
.button_grn .gradient{display:block;overflow:visible;margin:1px 0 0;padding:5px 12px;border:none;font:bold 1.0835em/1.0835em Arial,Tahoma,"Bitstream Vera Sans",sans-serif;color:#fff;text-shadow:1px 1px 0 #548725;white-space:nowrap;cursor:pointer;float:left;}
.button_grn .gradient:hover,.button_2011_grn .gradient:focus,.button_2011_grn .gradient:active,.button_2011_grn .gradient:visited{text-decoration:none;}
.button_grn .disabled{color:#909090;cursor:default;}
.bg_grn,.sprite-btnLtGrn{background-image:url('../img/bggreen.png');}
.wrpBtn{height:100%;overflow:hidden;}

.button_ta {display:inline;overflow:hidden;margin-right:10px;border:1px solid #589442;float:left;}
.button_ta a,.button_ta span,.button_ta input{display:block;overflow:visible;margin:0;border:none;background-color:#589442;font:bold 1em/14px Arial,Tahoma,"Bitstream Vera Sans",sans-serif;color:#fff;text-shadow:#589442 0 0 0;white-space:nowrap;cursor:pointer;float:left;}
.button_ta input{margin:-1px 0;padding:2px 6px;}@media screen and(-webkit-min-device-pixel-ratio:0){.button input{margin:0;padding:2px 9px;}}
.button_ta a,.button_ta span{display:block;padding:2px 9px;}
.button_ta a,.button_ta a:hover,.button_ta a:focus,.button_ta a:active,.button_ta a:visited{color:#fff;text-decoration:none;}
.button_ta.org{border:1px solid #d67b00;margin-right:0;}
.button_ta.org a,.button_ta.org span,.button_ta.org input{background-color:#d67b00;text-shadow:#d67b00 0 0 0;}
.button_ta.ylw{margin-right:0;border:1px solid #e4962d;}
.button_ta.ylw span,.button_ta.ylw .submit{padding:2px 5px;background-color:#ffc435;color:#000;text-shadow:#ffc435 0 0 0;}
.button_ta.lrg span,.button_ta.lrg .submit{font-size:1.50em;line-height:19px;padding:6px 13px;}
.button_ta.mdm span,.button_ta.mdm .submit{font-size:0.9em;padding:2px;width:60px;}

.box-top-line {border-top:1px dotted #DCD4B6; padding-top:10px; padding-bottom:30px;}
.datetag,.userscore,.schoolcounter,.financetypetag,.nurserytag,.enroll,.coursetypetag { line-height:1; font-size:0.7em; background:#95a60a; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; position:absolute; left:0px; padding:4px; color:#FFF; width:30px; text-align:center; text-transform: uppercase;}
.datetag div, .userscore div {font-size:2.8em; font-weight:bold; line-height:1;}
.enroll div {font-size:1.2em; font-weight:bold; line-height:1;}
.with-date {padding-left:50px;}
.event-list {position:relative}
.userscore {  background:rgb(77,144,254);width:30px; }
.enroll {  background:#ffc435;width:10px;}
.schoolcounter, .financetypetag, .nurserytag{
	border-left:1px solid #bfbfbf; border-right:1px solid #bfbfbf;border-bottom:2px solid #bfbfbf;border-top:1px solid #efefef;  background:#fafafa;
	background-image:-webkit-gradient(linear, 0 0, 0 100%, from(rgba(255,255,255,0)), to(#f2f2f2));
	background-image:-moz-linear-gradient(center top, rgba(255,255,255,0) 0%, #f2f2f2 100%);
	background-image:-o-linear-gradient(rgba(255,255,255,0), #f2f2f2);
}
.financetypetag { width:110px;position:relative;height:60px;padding-top:40px; }
.coursetypetag {  width:150px; background:rgb(203,219,176);position:relative;padding:15px;height:50px;font-size:1.1em;text-decoration:none; }
.nurserytag { width:170px;position:relative;height:60px;padding-top:40px; }
.financetypetag:hover { color:#e15d14;}
.schoolcounter {position:relative; height:350px;width:200px;margin-right:20px;}
}
.highlightnav {  background:rgb(77,144,254);margin:3px;font-size:0.9em;color:#FFF; }
#preview{
	position:absolute;
	border:1px solid white;
	background:white;
	padding:5px;
	display:none;
	color:#fff;
	}
	
/* the overlayed element */
.simple_overlay, .basicinfo_overlay {

    /* must be initially hidden */
    display:none;

    /* place overlay on top of other elements */
    z-index:10000;

    /* styling */
    background-color:white;
	padding:5px;
    width:400px;
    min-height:100px;

/*    border:6px solid rgb(238,120,24); */

    /* CSS3 styling for latest browsers */
    -moz-box-shadow:0 0 90px 5px #000;
    -webkit-box-shadow: 0 0 90px #000;
}
.basicinfo_overlay {border:2px solid #4D8815;width:500px; min-height:200px;}
/* close button positioned on upper right corner */
.simple_overlay .close, .basicinfo_overlay .close {
    background-image:url(../img/overlayclose.png);
    position:absolute;
    right:-15px;
    top:-15px;
    cursor:pointer;
    height:35px;
    width:35px;
}

.apple_overlay, .apple_overlay_medium, .apple_overlay_tutor, .apple_overlay_chat, .apple_overlay_casesharing, .apple_overlay_schoolselect, .apple_overlay_eventview  {

    /* initially overlay is hidden */
    display:none;
    background-color:white;
 
    width:980px;
    min-height:500px;
    border:10px solid rgb(88,148,66);
 
    /* CSS3 styling for latest browsers */
    -moz-box-shadow:0 0 90px 5px #000;
    -webkit-box-shadow: 0 0 90px #000;

}
.apple_overlay_medium {
    width:300px;
    min-height:400px;
    border:5px solid rgb(88,148,66);
}
.apple_overlay_tutor {
    width:450px;
    min-height:300px;
    border:3px solid rgb(88,148,66);
	background-color: rgb(242,246,235);
}
.apple_overlay_reminder {
	 display:none;
    width:400px;
    min-height:400px;
    background: url(../img/popup.png); 
}
.apple_overlay_chat {
    width:350px;
    min-height:300px;
    border:3px solid rgb(88,148,66);
    background-color: rgb(242,246,235);
}
.apple_overlay_casesharing {
    width:360px;
    min-height:500px;
    border:0px solid rgb(88,148,66);
    background-color: white transparent;
}
.apple_overlay_schoolselect {
    width:980px;
    min-height:250px;
    border:0px solid rgb(88,148,66);
    background-color: white transparent;
}
.apple_overlay_entity_allocation{
	display:none;
    width:1290px;
    min-height: 650px;
    background-color: white;
    border:0px solid #c9c9c9;
 
    /* CSS3 styling for latest browsers */
    -moz-box-shadow:0 0 90px 5px #000;
    -webkit-box-shadow: 0 0 90px #000;
}
.apple_overlay_entityedit{
	display:none;
    width:1030px;
    min-height: 650px;
    background-color: white;
    border:0px solid #c9c9c9;

    /* CSS3 styling for latest browsers */
    -moz-box-shadow:0 0 90px 5px #000;
    -webkit-box-shadow: 0 0 90px #000;
}
.apple_overlay_eventview {
    width:1024px;
    min-height:650px;
    border:0px solid #c9c9c9;
	background-color: white;
}
/* default close button positioned on upper right corner */
.apple_overlay .close, .apple_overlay_medium .close, .apple_overlay_tutor .close, .apple_overlay_reminder .close, .apple_overlay_chat .close, .apple_overlay_casesharing .close, .apple_overlay_schoolselect .close, .apple_overlay_entity_allocation .close, .apple_overlay_entityedit .close, .apple_overlay_eventview .close {
    background-image:url(../img/overlayclose.png);
    position:absolute; right:15px; top:5px;
    cursor:pointer;
    height:35px;
    width:35px;
}	
.apple_overlay_reminder .close{
	position:absolute; right:20px; top:38px;
}
/* container for external content. uses vertical scrollbar, if needed */
  div.contentWrap {
    height:650px;
    overflow:auto;
  }



 #polling, #custompolling, #pollingembed {

    /* overlay is hidden before loading */
    display:none;

    /* standard decorations */
    width:600px;
    border:5px solid #666;

    /* for modern browsers use semi-transparent color on the border. nice! */
    border:10px solid rgba(82, 82, 82, 0.698);

    /* hot CSS3 features for mozilla and webkit-based browsers (rounded borders) */
    -moz-border-radius:8px;
    -webkit-border-radius:8px;
  }
#pollingembed {
	display: block;
	border: none;
	width:500px;
}
  #polling div, #custompolling div, #pollingembed div {
    padding:10px;
    border:1px solid #3B5998;
    background-color: rgb(248,248,236);
    font-family:"lucida grande",tahoma,verdana,arial,sans-serif
  }

  #polling h2, #custompolling h2, #pollingembed h2 {
    margin:-11px;
    margin-bottom:0px;
    color: white;
    background-color: rgb(97,156,42);
    padding:5px 10px;
    border:1px solid #3B5998;
    font-size:20px;
  }
  #pollingembed h2{
  	font-size:12px !important;
  }
  #polling .close, #custompolling .close {
    background-image:url(../img/closegreen.png);
    position:absolute; right:5px; top:5px;
    cursor:pointer;
    height:13px;
    width:13px;
  }
 
 .left { float: left; }

  #target, #target-out, #function, #format, #mouseover { float: right; }

#target-number { float: right; }

#hint,#hint1,#hint2,#hint3,#hint4, #hint-out, #hint-function, #hint-format, #mouseover-target { background-color: #F0F0F0; border-radius: 3px; float: right; height: 15px; margin-left: 5px; padding-bottom:2px; padding-left: 8px; padding-right:8px; text-align: center; width: 300px; }

#hint-format { width: 300px; }

#precision { float: right; }

#precision-target { background-color: #F0F0F0; border-radius: 3px; float: right; height: 20px; margin-left: 5px; padding-left: 8px; padding-right: 8px; padding-top: 4px; text-align: center; width: 50px; 

}

#score-target { float: right; margin-left: 5px }

    .graph { 
        position: relative; /* IE is dumb */
        width: 160px; 
        border: 1px solid white; 
        padding: 2px; 
	background: rgb(233,233,233); 
    }
    .graph .bar {
        padding-left:5px;
        display: block;
        position: relative;
	    background: rgb(144,192,24); 
        text-align: left; 
        color: #333; 
        height: 1.3em; 
        line-height: 1.3em;            
    }
    .graph .bar span { position: absolute; left: 1em; }



.important {
	padding:5px;
	background-color: rgb(242,245,234);
	border: 1px solid rgb(77,136,21);
	font-size:1.05em; 
	font-weight:normal;
	color: rgb(102,153,47);	
	margin:10px;
}
.closedschool {
	padding:5px;
	background-color: #f2dede;
	border: 1px solid #ebccd1;
	font-size:1.05em;
	font-weight:normal;
	color: #a94442;
	margin:10px;
}
.expand {
    height: 2em;
    padding: 3px;
}

/* root element for accordion. decorated with rounded borders and gradient background image */
#accordion {
   
    width: 350px;
    border:1px solid #333;
   
    margin: 0 ;
}

/* accordion header */
#accordion h2 {
    background:#ccc url(/media/img/gradient/h30.png);
    line-height: 14px;
    margin:0;
    padding:5px 15px;
    font-size:14px;
    font-weight:normal;
    border:1px solid #fff;
    border-bottom:1px solid #ddd;
    cursor:pointer;
}

/* currently active header */
#accordion h2.current {
    cursor:default;
    
}

/* accordion pane */
#accordion .pane {
    border:1px solid #fff;
    border-width:0 2px;
    display:none;
    height:130px;
    padding:15px;
    color:#fff;
    font-size:12px;
}

/* a title inside pane */
#accordion .pane h3 {
    font-weight:normal;
    margin:0;
    font-size:16px;
    color:#999;
}


/* root element for accordion. decorated with rounded borders and gradient background image */
#haccordion {
    background:#FFFFFF url(../img/h150.png) repeat scroll 0;
    height:60px;
    padding:10px 0 10px 20px;
    width:560px;
    border:1px solid #ddd;
    margin: 0 auto;
}

/* accordion header */
#haccordion img {
    float:left;
    margin-right:10px;
    cursor:pointer;
    opacity:0.5;
    filter: alpha(opacity=50);
}

/* currently active header */
#haccordion img.current {
    cursor:default;
    opacity:1;
    filter: alpha(opacity=100);
}

/*
  accordion pane. should initially have zero width and display:none.
  the first pane should override these with inline style
  */
#haccordion div {
    width:0px;
    float:left;
    display:none;
    margin-right:10px;
}

/* content inside a pane should have fixed width */
#haccordion div h3 {
    color:#444;
    line-height: auto;
    width:190px;
    font-size:15px;
}

#haccordion div p {
    font-size:11px;
    width:190px;
}
 
span.wrap { padding: 10px; }
span.wrap.hotness { float: left;margin-left: 30px; }
span.wrap button { display: block; margin-top: 10px; }
span.wrap label { margin-bottom: 5px; }
div.preview { float: left; width: 50px; height: 50px; border: 2px dotted #CCCCCC; }
div.preview.loading { background: url(/school/img/loading.gif) no-repeat 50px 50px; }
div.preview.loading img {display: none; }
div.highlight { margin-bottom: 20px; }
span.wrap form { margin: 0; }

.forumli{
	padding:10px 0px 10px 0px px;
}

.formlabel{
	width:100px;
}

.styled-select {
   width: 266px !important;
   height: 20px !important;
   overflow: hidden !important;
   background: url(/school/img/down_arrow_select.jpeg) no-repeat right #ddd !important;
   padding: 8px 10px 0px 10px;
   top: -3px;
	position:relative;
	left:4px;
}

ul.rankingsystem
{
list-style-type: none;
padding: 0px;
margin: 0px;

}
ul.rankingsystem li, ul.rankingsystem li li
{
font-size:1.05em; 
padding-left: 14px;
padding-top: 5px;
padding-bottom: 5px;
}
ul.rankingsystem li li{
font-size:1.00em; 
padding-left: 28px; 
background-image: url(/school/img/greendot.png);
background-repeat: no-repeat;
background-position: 15px 10px; 
}

<!-- Ajax Upload -->
span.wrap { padding: 10px; }
span.wrap.hotness { margin-left: 30px; }
span.wrap button { display: block; margin-top: 10px; }
span.wrap label { margin-bottom: 5px; }
div.preview,div.preview1,div.preview2,div.preview3 { float: left; width: 70px; height: 70px; border: 1px dotted #CCCCCC; }
div.preview.loading,div.preview1.loading,div.preview2.loading,div.preview3.loading { background: url(/school/img/smallloading.gif) no-repeat 39px 40px; }
div.preview.loading,div.preview1.loadingdiv.preview2.loadingdiv.preview3.loading img {display: none; }
div.highlight { margin-bottom: 20px; }
span.wrap form { margin: 0; }
 
<!--[if lt IE 7]>

  div.apple_overlay {
    background-image:url(../img/overlay_IE6.gif);
    color:#fff;
  }
 
  /* default close button positioned on upper right corner */
  div.apple_overlay div.close {
    background-image:url(../img/overlay_close_IE6.gif);
  }
<![endif]-->	

<!-- Account badge -->
.badge.badge-medium-1 {
background-position: -100px 0;
}
.badge.badge-medium-1, .badge.badge-medium-2, .badge.badge-medium-3, .badge.badge-medium-4 {
width: 15px;
height: 15px;
}
.badge.badge-diamond {
background: url("../img/diamond.png") -145px 0 no-repeat;
}
.badge {
display: inline-block;
margin:0px;
padding-left:2px;
top:-2px;
}
.imamazingbg1{
	background: url("../img/imamazingbg1.png") 0 0 no-repeat;
	width: 300px;
	height: 194px;
	
}
.imamazingbgtop2{
	background: url("../img/imamazingbgtop2.png") 0 0 no-repeat;
	width: 600px;
	height: 112px;
	
}
.imamazingbgmiddle2{
	background: url("../img/imamazingbgmiddle2.png") 0 0 repeat-y;
	width: 600px;
	background-repeat:repeat-y;
	
}.imamazingbgbottom2{
	background: url("../img/imamazingbgbottom2.png") 0 0 no-repeat;
	width: 600px;
	height: 280px;
	
}
.subject {
	background-image: url("../img/dot.gif");
	width: 400px;
	padding: 5px 100px 5px 5px;
}

.body-background{
	padding:30px 0px 30px 0px;
	background-color: #a9d943;
	width:520px;
}
.content-background{
	background-color: #f2f6eb;
	width:520px;
	border-top: solid 10px #548725; 
	border-bottom: solid 10px #548725; 
}
.red-pin {
	background-image: url("../img/red-pin.png");
	background-repeat: no-repeat;
    width: 27px;
    height: 27px;
}
.blue-pin{
	
	background-image: url("../img/blue-pin.png");
	background-repeat: no-repeat;
    width: 63px;
    height: 40px;
}
.green-pin{
	
	background-image: url("../img/green-pin.png");
	background-repeat: no-repeat;
    width: 27px;
    height: 27px;
}
.yellow-pin{

	background-image: url("../img/yellow-pin.png");
	background-repeat: no-repeat;
    width: 27px;
    height: 27px;
}

div.commondiv {  }
div.commondiv:hover { background-color:#FFE47E;cursor: pointer; cursor: hand;}


.slideTogglebox{
		left:500px;
		padding:8px;
		margin:16px;
		border:1px solid #4D8815;
		width:100px;
		height:80px;
		background-color: rgb(242,245,234);
		color:white;
		display:none;
		position: absolute;
		z-index:100;
		/* CSS3 styling for latest browsers */
    	-moz-box-shadow:0 0 15px 1px #000;
    	-webkit-box-shadow: 0 0 15px #000;
	}
.schoolplacement{
	padding:5px;
	width:640px;
	height:300px;
	border:1px dashed green;
	overflow-x:hidden;
	overflow-y:visible;
}
.eventchat{
	padding:5px;
	width:720px;
	height:240px;
	overflow-x:hidden;
	overflow-y:visible;
}
.yahoosearchbtn{
background-color: #FDCE3E;
background-repeat: repeat-x;
background-image: url('../img/yahoosearchbtnborder.gif');
border: 1px solid #E5A716;
color: #434343;
cursor: pointer;
font-weight: bold;
height: 26px;
margin-left: 7px;
padding: 0 23px;
}

.edu{
background-color: #E2E2E2;
padding-top: 24px;
padding-left:25px;
margin:8px;
float:left;
position:relative;
min-height:150px;
width:150px;
}

.eventlabel{
	padding-top: 10px;
	padding-left:15px;
	height:20px;
	width:70px;
	color:#1D1D1D;
	font-size: 12px;
}
.openday{
	padding:2px;
	background-color:#FFB878;
}
.introday{
	padding:2px;
	background-color:#FBD75B;
}
.applicationday{
	padding:2px;
	background-color:#DBADFF;
}
.importantday{
	padding:2px;
	background-color:#FF887C;
}
a.eventitem  { color: #636468 !important;}
a.eventitem:hover { color: #1D1D1D !important;}

.greendot li { padding-left: 16px; background: url("../img/greendot.png") 2px 5px no-repeat; }
.content-table-1 { background-color : #C7D3CC;}

/* Four seasons  */

.dbl-bdr{border:1px solid #CCC;zoom:1;}
.dbl-bdr .wrapper{padding:20px 20px;border:1px solid #e5e5e5;margin:3px;zoom:1;}
.dbl-bdr .wrapper-small{padding:10px 10px;border:1px solid #e5e5e5;margin:3px;zoom:1;}


.dbl-bdr .entitydetails{width:295px;}

.parbase {
padding-bottom: 30px;
}
.ib {
display: inline-block!important;
zoom: 1!important;
}
.category {
padding-bottom: 2px;
}
.custom-title .category {
font-size: 8px;
font-weight: normal;
color: #666;
text-align: center;
display: block;
margin: 0 0 2px 0!important;
}

.title {
font-size: 18px;
letter-spacing: 1px;
padding-bottom: 3px;
margin: 0px 30px;
color:black;
text-align: center;
}

.custom-title-line {
display: block;
height: 1px;
position: absolute;
top: 45px;
background-color: black;
font-size: 22px;
margin: 0 30px;
width: 30px;
}


.custom-title-line__l {
left: 0;
}
.custom-title-line__r {
right: 0;
}

button.btn::-moz-focus-inner{padding:0;border:0;}
.btn-red  {
line-height: 1;background: #F73F30;
font-size: 12px;
}
.btn{display:inline-block;padding:2px;margin:0;border:0;cursor:pointer;text-transform:uppercase;font-weight:bold;}
.btn span{white-space:nowrap;}
.lte7 .btn{letter-spacing:-0.05em;}
.btn-red span{display:block;_zoom:1;_display:inline;margin:0;border:1px solid #FFF;padding:10px 26px 8px;color:#FFF;background:url('../img/bg-btn-red.png') repeat-x;}
button.btn-red span{line-height:1;}
.btn-red span:hover,.btn-red:hover span{background:none;}
.btn-red:active{background:#a9bcc7;}
.btn-red:active span{background:url('../img/bg-btn-blue.png') repeat-x;}
.border-top-gray {border-top: 1px solid #E5E5E5;}
.border-bottom-gray {border-bottom: 1px solid #E5E5E5;}

a.more, em.more, span.more {
white-space: nowrap;
padding-right: 10px;
background: url(../img/morearrow_08c.gif) no-repeat 100% 50%;
cursor: pointer;
zoom: 1;
}

.labelwidthsmall{
width:100px;	
	
}


.bgc_main {
border: 1px solid #d1c7b8;
background-color: #fff;
-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.15);
-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.15);
box-shadow: 0 1px 3px rgba(0,0,0,0.15);
}
.round_corner {
-moz-border-top-right-radius: 5px;
border-top-right-radius: 5px;
-moz-border-top-left-radius: 5px;
border-top-left-radius: 5px;
-moz-border-bottom-right-radius: 5px;
border-bottom-right-radius: 5px;
-moz-border-bottom-left-radius: 5px;
border-bottom-left-radius: 5px;
}

.MB5 {
margin-bottom: 5px;
}

small{
    font-size: 6px !important;
}

medium{
    font-size: 20px !important;
}
.medium_comment{
    font-size: 16px !important;
}


.tbl-prevrank-icon>span.rank-rise {
    background-position: -6px -105px;
}
.tbl-prevrank-icon>span.rank-fall {
    background-position: -6px -133px;
}

.tbl-prevrank-icon>span {
    display: inline-block;
    zoom: 1;
    width: 18px;
    height: 18px;
    background-image: url("../img/moversIcons.png");
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: -6px -72px;
}

.MT5{
    font-size:10px;

}

.search_form_checkbox{
    margin-left:5px !important;
}

table.rect_padding td {
    padding-top:5px;
    padding-bottom:5px;
}
.download{display:inline-block;margin:0 11px 25px 0}
.download img {
    height: 43px;
}
