.fonttiny{
	font-size:0.7em; 
	font-weight:normal;
}
.fontsmall{
	font-size:0.8em; 
	font-weight:normal;
}
.fontmedium{
	font-size:0.86em; 
	font-weight:normal;
}
.fontlarge{
	font-size:1.0em; 
	font-weight:normal;
}
.fontxlarge{
	font-size:1.2em; 
	font-weight:normal;
}
.fontxxlarge{
	font-size:1.35em; 
	font-weight:normal;
}
.fontextralarge{
	font-size:1.55em;
	font-weight:normal;
}
.fontxxxlarge{
	font-size:2.5em; 
	font-weight:normal;
}
.fontbold{
	font-weight:bold !important;
}
.fontnormal{
	font-weight:normal !important;
}
.fontshadow{
	text-shadow: 0 1px 1px #0D6C42;
}

h1 {
    font-size: 1.7em !important; 
    font-style: normal; 
    font-weight: bold;
  }

h2 {
    font-size: 1.5em !important;
    font-style: normal;
    font-weight: bold;
}
h3 {
    font-size: 1.3em !important; 
    font-style: normal;
    font-weight: bold;
}


/* colors */
	/* bookofschool */
	.d3-color-black, .d3-color-black a { color: #000000 !important;}
	
	.yahoo-color-pink, .yahoo-color-pink a { color:  #FBF0FA!important;}
	.d3-color-blue-1, .d3-color-blue-1 a { color: #000066 !important;}
	.d3-color-orange-1, .d3-color-orange-1 a { color: #FBA412 !important;}
	.d3-color-orange-2, .d3-color-orange-2 a { color: #F17922 !important;}
	.d3-color-orange-google, .d3-color-orange-google a { color: ##FFB878 !important;}
	
	
	.d3-color-green-1, .d3-color-green-1 a { color: #8bd442 !important; }
	.d3-color-green-2, .d3-color-green-2 a { color: #748e3d !important; }
	.d3-color-green-3, .d3-color-green-3 a { color: #aec75c !important; }
	.d3-color-green-4, .d3-color-green-4 a { color: #85a282 !important; }
	.d3-color-green-5, .d3-color-green-4 a { color: #2b9646 !important; }

	
	
	.d3-color-yellow-1, .d3-color-yellow-1 a { color: #FFBF55  !important; }	
	.d3-color-yellow-2, .d3-color-yellow-2 a { color: #f8cc35  !important; }
	.d3-color-yellow-google, .d3-color-yellow-google a { color: #FBD75B !important;}	
	.d3-color-gray-1, .d3-color-gray-1 a { color: #403f3e !important; }
	.d3-color-gray-2, .d3-color-gray-2 a { color: rgb(125,117,108) !important; }
	.d3-color-gray-3, .d3-color-gray-3 a { color: #888 !important; }
	
	.d3-shadow {text-shadow: 1px 1px 1px black;}
	.d3-font {font: normal 14px/1.5 Arial, sans-serif;}
	.d3-font-bold {font-weight:bold;}


	/* general */
	.d3-color-default, .d3-color-default a { color: #fff !important; }
	.d3-color-blue, .d3-color-blue a { color: rgb(0,102,187) !important; }
	/*.d3-color-gray, .d3-color-gray a { color: #909090 !important; }*/
	.d3-color-gray, .d3-color-gray a { color: #5e5d5c !important; }
	
	.d3-color-gold, .d3-color-gold a { color: rgb(76,57,38) !important; }
	.d3-color-green, .d3-color-green a { color: #00ff00 !important; }
	.d3-color-orange, .d3-color-orange a { color: #bf642f !important; }
	.d3-color-purple, .d3-color-purple a { color: #a335ee !important; }
	.d3-color-purple-google, .d3-color-purple-google a { color: #DBADFF !important;}
	
	.d3-color-red, .d3-color-red a { color: #ff0000 !important; }
	.d3-color-white, .d3-color-white a { color: #fff !important; }
	.d3-color-yellow, .d3-color-yellow a { color: #ffff00 !important; }

	a.d3-color-green-1:hover, a.d3-color-green-2:hover,a.d3-color-green-3:hover,
	a.d3-color-blue:hover, .d3-color-blue a:hover, a:hover .d3-color-blue,
	a.d3-color-gray:hover, .d3-color-gray a:hover, a:hover .d3-color-gray,
	a.d3-color-gold:hover, .d3-color-gold a:hover, a:hover .d3-color-gold,
	a.d3-color-green:hover, .d3-color-green a:hover, a:hover .d3-color-green,
	a.d3-color-orange:hover, .d3-color-orange a:hover, a:hover .d3-color-orange,
	a.d3-color-purple:hover, .d3-color-purple a:hover, a:hover .d3-color-purple,
	a.d3-color-red:hover, .d3-color-red a:hover, a:hover .d3-color-red,
	a.d3-color-white:hover, .d3-color-white a:hover, a:hover .d3-color-white,
	a.d3-color-yellow:hover, .d3-color-yellow a:hover a:hover .d3-color-yellow { color: #bf642f !important; }

	