
.clear{
	clear: both;
	height: 0;
	visibility: hidden;
	display: block;
}    
/******* MENU *******/  
    #container{  
        margin: 1em auto;  
        width: 800px;  
    }  
    #container ul{  
        list-style: none;  
        list-style-position: outside;  
    }  
    #container ul.menu li, #container ul.menu li a, #container ul.menumain li, #container ul.menumain li a{  
        float: left;  
        margin-right: 5px;  
        margin-bottom: -1px; 
        color: #333; 
    }  
     #container ul.menu li a:hover,  #container ul.menumain li a:hover{  
     	top: 0px;  
        border-bottom: 0;
        background: #E6E8EB; 
    } 
    
    #container ul.menu li, #container ul.menumain li{  
        font-weight: 700;  
        display: block;  
        padding: 5px 10px 5px 10px;  
        background: #E6E8EB;  
        margin-bottom: -1px;  
        border: 2px solid white;  
        border-width: 2px 2px 2px 2px;  
        position: relative;  
        color: #333;
        cursor: pointer;  
    }  
    
    #container ul.menu li.active,#container ul.menu li.active a, #container ul.menumain li.active,#container ul.menumain li.active a{  
        background: white;  
        top: 0px;  
        border-bottom: 0;  
        color: #333;  
    }  
    /******* /MENU *******/  
    /******* CONTENT *******/  
    .content,.contentmain{  
        margin: 0pt auto;  
        background:white;
        border: 1px solid #e5e6e5;  
        text-align: left;  
        padding: 10px;  
        padding-bottom: 20px;  
        font-size: 11px;  
    }  
    .content h1,.contentmain h1{  
        line-height: 1em;  
        vertical-align: middle;  
        height: 48px;  
        padding: 10px 10px 10px 52px;  
        font-size: 32px;  
    }  
    /******* /CONTENT *******/  
    /******* NEWS *******/  
    .content.kindergarten h1{  
        /* background: transparent url(images/news.jpg) no-repeat scroll left top;  */
    }  
    .content.kindergarten{  
        display: none;  
    }  
    /******* /NEWS *******/  
    /******* TUTORIALS *******/  
    .content.primary h1{  
         /*background: transparent url(images/tuts.jpg) no-repeat scroll left top;   */
    }  
    .content.primary{  
        display: block;  
    }  
    /******* /TUTORIALS *******/  
    /******* LINKS *******/  
    .content.secondary h1{  
        /* background: transparent url(images/links.jpg) no-repeat scroll left top;   */
    }  
    .content.secondary{  
        display: none;  
    }  
    .content.others h1{  
        /* background: transparent url(images/tuts.jpg) no-repeat scroll left top;   */
    }  
    .content.others{  
        display: none;  
    }  
    /******* /LINKS *******/  


/* tab pane styling */
.panes div {
    display:none;
    padding:15px 10px;
    /*border:1px solid #999;*/
    border-top:0;
    height:200px;
    font-size:14px;
    background-color:rgb(243,245,233);
}

/* root element for tabs  */
ul.tabs {
    list-style:none;
    margin:0 !important;
    padding:0;
    border-bottom:1px solid #666;
    height:30px;
}

/* single tab */
ul.tabs li {
    float:left;
    text-indent:0;
    padding:0;
    margin:0 !important;
    list-style-image:none !important;
}

/* link inside the tab. uses a background image */
ul.tabs a {
    background: url(../img/blue.png) no-repeat -420px 0;
    font-size:11px;
    display:block;
    height: 30px;
    line-height:30px;
    width: 134px;
    text-align:center;
    text-decoration:none;
    color:#333;
    padding:0px;
    margin:0px;
    position:relative;
    top:1px;
}

ul.tabs a:active {
    outline:none;
}

/* when mouse enters the tab move the background image */
ul.tabs a:hover {
    background-position: -420px -31px;
    color:#fff;
}

/* active tab uses a class name "current". its highlight is also done by moving the background image. */
ul.tabs a.current, ul.tabs a.current:hover, ul.tabs li.current a {
    background-position: -420px -62px;
    cursor:default !important;
    color:#000 !important;
}

/* Different widths for tabs: use a class name: w1, w2, w3 or w2 */


/* width 1 */
ul.tabs a.s { background-position: -553px 0; width:81px; }
ul.tabs a.s:hover { background-position: -553px -31px; }
ul.tabs a.s.current  { background-position: -553px -62px; }

/* width 2 */
ul.tabs a.l { background-position: -248px -0px; width:174px; }
ul.tabs a.l:hover { background-position: -248px -31px; }
ul.tabs a.l.current { background-position: -248px -62px; }


/* width 3 */
ul.tabs a.xl { background-position: 0 -0px; width:248px; }
ul.tabs a.xl:hover { background-position: 0 -31px; }
ul.tabs a.xl.current { background-position: 0 -62px; }


/* initially all panes are hidden */
.panes .pane {
    display:none;
}